:root {
  --dark-Mode : #343434;
  --dark-Gray : #46494c;
}

.modalOptionsContainer > span:hover > span {
  opacity: 100;
}

body, body * {
  user-select: none;
}

@font-face {
  font-family: "Quick";
  src: url(../fonts/Quicksand_wght.ttf);
}
